
body{
    background: rgb(180,199,220);
    background: linear-gradient(180deg, rgba(180,199,220,1) 0%, rgba(222,230,239,1) 100%);
    background-repeat: no-repeat;
}
.boxovi
{
    float: left;
    margin: 5px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 40px;
    align-items: baseline;
    border-color: #5981b4;
}
#srednjibox
{
  height: 250px;
  width: 250px;
  border-radius: 15px;
}
#red
{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
legend{
    color: #5b85b1;
    text-align: center;
}
h1
{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    color: #5b85b1;
}
h3
{
    text-align: center;
    color: #5b85b1;
    font-size: 10px;
}