div
{
    display: flex;
    justify-content: center;
}
form
{
    display: table;
}
p
{
    display:table-row;
}
input,select,label
{
    display: table-cell;
    margin-bottom: 10px;
    margin-left: 5px;
}
input
{
    width: 200px;
}
select
{
    height: 25px;
    width: 205px;
}
label
{
    text-align: right;
}