div
{
    display: flex;
    justify-content: center;
}
table,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 15%;
    text-align: center;
}
tr
{
    height: 35px;
}
tr:hover
{
    border: 2px solid black;
}