table
{
    border-collapse: collapse;
}
td
{
    border-top:1px solid black;
    width: 25px;
    height: 75px;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #e6e6e6;
}

td:nth-child(2n+1)
{
    border-right: 1px dashed black;
    border-left: 1px solid black;
   
}
td:first-child
{
    border-left: 1px solid black;
}
td:last-child
{
    border-right: 1px solid black;
}
#lijevo
{
    border-left: 1px solid black;
}
th
{
    height: 10px;
}
.bojaCelije
{
    background-color: #dee6ef;
}